# 
.env
credentials.auto.tfvars
init_var.sh

# Text backup files
*.bak

# Database
*.sqlite3

__pycache__/
*.pycg

.idea/*

out/*

SandBox/
database/

.DS_Store

# terraform:
terraform.tfstate.backup
.terraform
terraform.tfstate
.terraform.tfstate.lock.info


nodata

helm